 body {
    font-family: 'Book Antiqua';
    font-size: 100%;
    margin-right: 10%;
    margin-left: 10%;
      }

 h2.style {
    color:#898a7f;
	font-size:30px;
	}

 h3.style {
    color:#898a7f;
	font-size:25px;
	}

 .leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
   }

  .rightimg  {
    float: right; 
    margin: 7px 0 7px 7px; 
   }
