.body
{
    font-family: "Oranienbaum", sans-serif;
    width:100%;
    font-size: 30px;
    background: #151515 ;
    margin: 0;
}

header
{
    position:absolute;
    max-height: 210px;
    width: 100%;
    margin-top: 40px;
    z-index: 1000;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}


.container
{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.container_1
{
     border-top: 2px solid #bd875f;
    max-width: 66px;
    width: 100%;
    margin: 5px auto;
}

.logo_container
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.jewelry_network
{
    font-family: "Times New Roman";
    font-size: 12pt;
    color: #bd875f;
    text-align: left;
    margin-left: 70px;
    margin-top: -50px;
}

.contact_info
{
    font-size: 25px;
    font-family: "Oranienbaum";
    color: floralwhite;
    text-align: right;
    margin-right: 40px;
    margin-top: -70px;
}

.orange_text
{
    color: #bd875f;
}

.red_text
{
    color: #860103;
}

.red_textv2
{
    color: #860103;
    font-size: 35px;
}

.navigation
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 40px;
}

.nav
{
    font-size: 20px;
}

.n_link
{
    text-decoration: none;
    color: #bd875f;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 0 35px;
    margin-left: 0;
    border-right: 1px solid #fff;
    padding-right: 30px;
}

.n_link:hover
{
    color: floralwhite;
}

.search_icon
{
    margin: 0;
    margin-bottom: -5.5px;
    margin-right: -8px;
    border-bottom: 1px solid #bd875f;
}

.search input
{
    border: none;
    border-bottom: 1px solid #bd875f;
    background-color: #151515;
    color: #ffff;
    font-family: "Oranienbaum", sans-serif;
}

.button
{
    margin-left: -8px;
    border: none;
    border-bottom: 1px solid #bd875f;
    background: transparent;
    color: #bd875f;
    font-family: "Oranienbaum", sans-serif;
}

main
{
    height: 210px;
}

.preview_container
{
    display: block;
    width: 100%;
    height: 454px;
    margin-bottom: 0;
    background-image: url("../img/preview.jpg");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;

}

.white_container
{
    display: flex;
    height: 237px;
    width: 100%;
    background-image: url("../img/white-container.jpg");
    background-repeat: repeat;
}

.img_container
{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 190px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.img_nav1
{
    font-size: 13pt;
    padding: 15px;
    margin-left: 20px;
    width: 300px;
    background-image: url("../img/new.png");
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.img_nav2
{
    font-size: 13pt;
    padding: 15px;
    margin-left: 20px;
    width: 300px;
    background-image: url("../img/brands.png");
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.img_nav3
{
    font-size: 13pt;
    padding: 15px;
    margin-left: 20px;
    width: 300px;
    background-image: url("../img/sales1.png");
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.img_nav1:hover
{
    background-image: url("../img/new1.png");
    border-bottom: 3px solid #860103;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.img_nav2:hover
{
    background-image: url("../img/brands1.png");
     border-bottom: 3px solid #860103;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.img_nav3:hover
{
    background-image: url("../img/sales.png");
     border-bottom: 3px solid #860103;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.grey_container
{
    display: flex;
    margin: 0;
    padding: 10px;
    height: 543px;
    background-image: url(../img/grey-back_09.png);
    background-repeat: repeat;
}

.grey_header
{
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 50px;
    border-left: 3px solid #8c010a;
}

.about_container
{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 430px;
}

.about_obj
{
    width: 300px;
    font-size: 16pt;
    font-family: "RodeoC";
    padding: 30px 0 0 0;
    text-align: center;
}

.about_info
{
    margin: 0;
    line-height: 1.7;
    font-size: 12pt;
    font-family: "Times New Roman";
    padding: 30px 0 0 0;
    text-align: center;
}

footer
{
    margin-top: 30px;
    background-color: #181818;
    height: 150px;
}

.footer_obj
{
     display: flex;
    justify-content: space-between;
    font-size: 12pt;
    font-family: "Times New Roman";
    color: darkgrey;
}

a
{
    color: darkgray;
}

.contacts
{
    text-align: right;
}
